  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  #sidebar {
    width: 200px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    float: left; 
    height: 100vh;
    box-sizing: border-box;
  }

  #main_content {
    margin-left: 200px;
    padding: 20px;
  }

  a {
    color: #2e6e99;
  }

  h1 {
    color: #434b52;
  }

  h2 {
    color: #2980b9;
  }

  h3 {
    color: #2e6e99;
  }