<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="sidebar">
        <h1>Welcome to the Dashboard</h1><br>
        <h2>Lorem ipsum dolor sit amet...</h2><br>
        <h3>Lorem ipsum dolor sit amet..</h3><br>
        <p>Lorem ipsum dolor sit amet..</p><br>
        <a href="">Main</a><br>
        <a href="">Other</a><br>
        <a href="">Other</a><br>
        <a href="">Other</a>
    </div>
    <div id="main_content">
    <h1>NOTE: Please customize your dashboard and the backend (app.py) </h1><br>
    <h1>Lorem ipsum dolor sit amet...</h1><br><br>
    <img src="https://static.vecteezy.com/system/resources/previews/021/433/017/original/sample-rubber-stamp-free-png.png" width="200px" height="150px">
    </div>
</body>
</html>